.header {
    background-color: $color-grey-dark-1;
    grid-column: full-start / col-end 6;
    background-image: linear-gradient(to left bottom, rgba($color-secondary, .10), rgba($color-secondary, .85)), url(../img/jet3.jpg);
    background-size: cover;
    background-position: center;
    padding: 8rem;
    padding-top: 6rem;

    @media only screen and (max-width: $bp-medium) {
        grid-column: 1 / -1;
    }

    @media only screen and (max-width: $bp-small) {
        padding: 3rem;
    }

    // display: grid;
    // grid-template-columns: repeat(8, 1fr);
    // grid-template-rows: repeat(7, 1fr);

    display: grid;
    grid-template-rows: 1fr min-content minmax(6rem, min-content) 1fr;
    grid-auto-columns: minmax(min-content, max-content);
    grid-row-gap: 1.5rem;
    justify-content: center;

    &__btn {
        justify-self: start;
        align-self: start;
    }


    &__logo {
        height: 7rem;
        justify-self: center;
    }

    &__seenon-text {
        display: grid;

        font-size: 1.6rem;
        color: $color-grey-light-2;
        grid-template-columns: 1fr max-content 1fr;
        align-items: center;
        grid-column-gap: 1.5rem;

        &::before,
        &::after {
            content: "";
            display: block;
            height: 1px;
            background-color: currentColor;
        }
    }

    &__seenon-logos {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 3rem;
        justify-items: center;
        align-items: center;

        img {
            max-height: 2.5rem;
            max-width: 100%;
            filter: brightness(70%);
        }
    }
}